{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %} | VinylCollector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header>
    <nav class="custom-nav">
      <div>
        <ul>
          <li><a href="/" class="brand-logo left">&nbsp;</a></li>
        </ul>
        <ul class="right">
          {% comment %} <li><a class="nav-links" href="/">home</a></li> {% endcomment %}
          <li><a class="nav-links" href="/vinyls/add_vinyl">+ new album</a></li>
          {% comment %} <li><a class="nav-links" href="/about">About</a></li> {% endcomment %}
          <li><a class="nav-links" href="/vinyls">view the collection</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="center">All Rights Reserved, &copy; 2020 Vinyl Collector &nbsp;</div>
  </footer>

  <script>
    const selectElement = document.getElementById('id_rating');
    M.FormSelect.init(selectElement);

    const comment = document.getElementById("id_comment");
    comment.className += "materialize-textarea";
  </script>
</body>
</html>